@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: rgba(14, 146, 218, 0.757);
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

button{
    font-weight: bolder;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
}

button:hover{
    background-color: blue !important;
    color: white !important;
}

#speak{
    background-color: greenyellow;
    margin-top: 20px;
    margin-bottom: 5px;
}

#reset{
    background-color: rgba(97, 97, 253, 0.861);
    color: rgb(0, 0, 0);
}

#content{
    text-align: center;
    margin-top: 20px;
}

span{
    text-align: center;
    background-color: black;
    color: white;
}